body{
	background-color: #e9e9e9;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
nav{
	display: table;
	width: 100%;
	border: solid 1px #bbb;
	margin-top: 5px;
	background-color: #5f5f5f;
	-webkit-box-shadow: 2px 2px 3px 1px rgba(ccc,ccc,ccc,ccc);
	box-shadow: 2px 2px 3px 1px rgba(ccc,ccc,ccc,ccc);
	outline: 1px outset #f5f5f5;
}
nav ul{
	display: table-row;
}
nav li{
	display: table-cell;
	padding: 5px;
	text-align: center;
}
article{
	width: 68%;
	float: left;
	margin-top: 20px;
	background-color: #f1f1f1;
}
aside{
	width: 30%;
	float: right;
	margin-top: 20px;
	background-color: #f1f1f1;
	border: solid 1px #8b8b8b;
}
table{
	width: 100%;
}
table, th, td{
	border: solid 1px #8b8b8b;
	border-collapse: collapse;
	}
th, td {
    padding: 5px;
    text-align: center;
}
th{
	background-color: #3299BB;
	color: #fff;
}
a:link{
	text-decoration: none;
	font-weight: bold;
	color: #f1f1f1;
}
a:visited{
	text-decoration: none;
	font-weight: bold;
	color: #f1f1f1;
}
a:active {
	text-decoration: none;
    color: #fff;
}
a:hover{
	text-decoration: none;
	color:red;
}
img{
	max-width: 150px;
	text-align: center;
}
.caddie{
	margin: auto;
	min-width: 800px;
}
.bnt{
	text-align: center;
}
#footer{
	position: absolute;
	bottom: 0;
	right: 15px;
	text-align: center;	
}
.id{
	column-width: auto;
}
.description{
	max-width: 200px;
}
input[type="number"]{
    width:50px;
}
.prix{
	min-width: 30px;
}
.logoGauche{width:80px;height:80px;float:left}
.logoDroit{width:80px;height:80px;float:right}
header p {text-align:center}
